{% include 'front/header.html' %}
 <link rel="stylesheet" href="/resource/front/css/news.css">
</head>

<body>
	<div class="news-wrap">
		<main>
			<div id="content">
				<div class="con-news">
					<div class="news-title">西班牙必胜，西班牙必胜，西班牙必胜，西班牙必胜西班牙必胜，西班牙必胜</div>
					<div class="news-views">
						<div><span>阅读</span><span>99999+</span></div>
						<div><span>来源于</span><span>人人网</span><span>2小时前</span></div>
					</div>
					<img src="/resource/front/img/icon_share.png" alt="" class="news-img">
				</div>
				<div class="con-bottom-con">
					<span>咕咕公开结果公开咕咕公开结果公开咕咕公开结果公开咕咕公开结果公开咕咕公开结果公开咕咕公开结果公开咕咕公开结果公开咕咕公开结果公开咕咕公开结果公开咕咕公开结果公开咕咕公开结果公开咕咕公开结果公开咕咕公开结果公开咕咕公开结果公开</span>
					<div class="news-ju">
						<div>
							<img src="/resource/front/img/赞.png" alt="" class="news-zan">
							<div>21</div>
						</div>
						<div>
							<img src="/resource/front/img/铃铛.png" alt="" class="news-jubao">
							<div>举报</div>
						</div>
					</div>

				</div>
				<div class="con-bottom-gg">
					<div class="con-bor">
						<img src="/resource/front/img/icon_share.png" alt="" class="con-bottom-con-img">
						<span>西班牙必胜，西班牙必胜，西班牙必胜，西班牙必胜西班牙必胜，西班牙必胜</span>
					</div>
				</div>

				<div class="con-back-ccc">
					<span>西班牙必胜，西班牙必胜，西班牙必胜，西班牙必胜西班牙必胜，西班牙必胜</span>
					<span>西班牙必胜，西班牙必胜，西班牙必胜，西班牙必胜西班牙必胜，西班牙必胜</span>
					<span>西班牙必胜，西班牙必胜，西班牙必胜，西班牙必胜西班牙必胜，西班牙必胜</span>
				</div>
				<div class="con-list-wrap">
					<span class="con-list-title">相关评论</span>
					<!-- 评论 -->
					<div class="review-wrap">
						<div class="review-left"> <img src="/resource/front/img/笑脸(2).png" alt="" class="review-icon"></div>
						<div class="review-right">
							<div class="review-name-wrap">
								<div>爱笑会议室</div>
								<div><span class="review-zan"><img src="/resource/front/img/赞.png" alt=""></span><span>21</span></div>
							</div>
							<div class="review-con">西班牙必胜，西班牙必胜，西班牙必胜，西班牙必胜西班牙必胜，西班牙必胜西班牙必胜，西班牙必胜，西班牙必胜 ，西班牙必胜西班牙必胜，西班牙必胜西班牙必胜，西班牙必胜，西班牙必胜，西班牙必胜西班牙必胜，西班牙必胜
							</div>
							<div class="review-time-wrap">
								<div>05-4 10：31</div>
								<div><span>举报</span></div>
							</div>
						</div>
					</div>
					<!-- 评论 -->
				</div>
			</div>

		</main>
		<footer id="send">
			<div class="input-wrap">
				<img src="/resource/front/img/写评论.png" alt="">
				<input type="text" placeholder="写评论" id="ipt">
			</div>
			<span><img src="/resource/front/img/评论(1).png" alt="" class="plsl"></span>
			<span class="plnub">1899</span>
			<span><img src="/resource/front/img/icon_share.png" alt="" class="share-b"></span>
		</footer>

	</div>
</body>

</html>
{% include 'front/foot.html' %}
<script type="text/javascript" src="/resource/front/js/jquery.lazyload.min.js"></script>
<script src="/resource/front/js/news.js"></script>
<script type="text/javascript">
	defineClass('init', {
		init: function() {
			var it = this;
		}

	})
</script>