<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>龙采头条</title>
		<link rel="stylesheet" href="/resource/front/css/mui.min.css" />
		<link rel="stylesheet" href="/resource/front/css/base.css" />
		
		<div class="dataTables_processing" id="onProcess" style="z-index:5001;">
		<div class="note-success" style="padding: 14px 15px;border-radius: 10px;display: flex;align-items: center;">
			<img style="top:-1px;display: inline-block; position:relative" src="/resource/front/img/load.png" class="rotate"><span style="font-size:14px;"></span></div>
		</div>
		<script>
			document.getElementById('onProcess').style.display = "flex"
		</script>
